services:
  - type: web
    name: evallo-backend
    env: node
    rootDir: backend
    plan: free
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false
      - key: JWT_SECRET
        sync: false

  - type: static
    name: evallo-frontend
    rootDir: frontend
    buildCommand: npm install && npm run build
    publishPath: build
    autoDeploy: true
    envVars:
      - key: REACT_APP_API_BASE
        value: https://evallo-backend.onrender.com/api

